*{
    padding: 0;
    margin: 0;

}


body{
    background-color: #9e9e9e;
    color: #ffffff;

}
.cabeçalho{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
    .cabeçalho-lista-item{
        display: inline-block;
        margin: 0 16px;

    }

.logo{
    width: 25%;
}
.escola-img{
    width: 25%;
}

.escola{
    display: flex;
    background-image: linear-gradient( #000000,  #ffffff);
    justify-content: center;
    align-items: center;
}

.escola-div-conteuo{
    width: 35%;

}

.escola-titulo{
    padding: 24px 0;

}

.estudante imagem{
    width: 120px;
}
